@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

// 1. Configuration and helpers
@import 'abstracts/variablesLM';

// 3. Base
@import 'base/helpers';

// 4. Layout-related sections
@import 'layout/mainContainer', 'layout/bodyContainer', 'layout/actionContainer',
  'layout/errorContainer', 'layout/stateContainer', 'layout/travelContainer',
  'layout/buttonsContainer';

// 5. Components
@import 'components/buttons', 'components/actionComponent', 'components/performanceVisx',
  'components/componentMap', 'components/ax';

// slider component
@import './components/rc-slider';

// d3 chart component
@import './components/d3graph';

// diff component
@import './components/diff';
