@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@import 'base/helpers';

@import 'layout/mainContainer', 'layout/bodyContainer', 'layout/actionContainer',
  'layout/errorContainer', 'layout/stateContainer', 'layout/travelContainer',
  'layout/buttonsContainer';

@import 'components/buttons', 'components/actionComponent', 'components/performanceVisx',
  'components/componentMap', 'components/ax';

@import './components/rc-slider';

@import './components/d3graph';

@import './components/diff';
