@charset 'UTF-8';

// 1. Configuration and helpers
@import 'abstracts/variables';

// 3. Base stuff
@import 'base/base', 'base/fonts', 'base/helpers', 'base/typography';

// 4. Layout-related sections
@import 'layout/actionContainer', 'layout/stateContainer', 'layout/travelContainer', 'layout/buttonsContainer';

// 5. Components
@import 'components/buttons', 'components/actionComponent',
  'components/jsonTree';

// other styles that needs to be modularized
@import 'styles';

// slider component
@import './components/rc-slider', './components/sliderHandle';
