.main-container {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $brand-color;
  overflow: hidden;
}

.head-container {
  height: 5%;
}

.body-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 9fr 1fr;
  grid-template-areas:
    "actions states"
    "travel travel";
}

/* if extension width is less than 300px, stack the body containers */
// this is not working for some reason
@media (max-width: 500px) {
  .body-container {
    grid-template-rows: 4.5fr 4.5fr 1fr;
    grid-template-areas:
      "actions"
      "states"
      "travel";
  }
  .main-container {
  }
}

.travel-container {
  // height: 10%;
  height: 100%;
  margin-right: 1%;
  grid-area: travel;
}

.action-container {
  grid-area: actions;
}
.state-container {
  grid-area: states;
}

.head-container,
.body-container,
.action-container,
.state-container,
.travel-container {
  border-style: solid;
  border-color: $border-color;
  border-width: thin;
}
