.main-container {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $brand-color;
}

.head-container {
  height: 5%;
}

.body-container {
  height: 75%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


/* if extension width is less than 500px, stack the body containers */
// this is not working for some reason
@media (max-width: 500px) {
  .body-container {
    flex-direction: column;
  }
  .state-container {
    // flex: 5 auto;
  }
}

.emptySnapshot{
  width: 100%;
}




.head-container,
.body-container,
.action-container,
.state-container,
.travel-container {
  border-style: solid;
  border-color: $border-color;
  border-width: thin;
}