.action-component {
  padding: 3px 10px;
  display: grid;
  grid-template-columns: none;
  align-items: center;
  height: 24px;
  // background-color: $brand-color;
  // border-bottom-style: solid;
  // border-bottom-width: 1px;
  // background-color: none;
  // border-color: #292929;
  // border-color: $border-color;
  cursor: pointer;
  overflow: hidden;
  @extend %disable-highlight;
}

.action-component-text {
  margin-bottom: 8px;
  color: $indiv-action-custom-text
}

.action-component.selected {
  //font-size: 16px;
  background-color: $indiv-action-selected;
  color: $indiv-action-selected-text
}

.action-component.exclude {
  color: #ff0000;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.action-component:focus {
  outline: none;
}

.action-component-trigger {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  //height: 20px;
  cursor: pointer;
  overflow: hidden;
  @extend %disable-highlight;
}
