.action-component {
  padding: 5px 10px;
  display: grid;
  grid-template-columns: none;
  align-items: center;
  height: 20px;
  // background-color: $brand-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: none;
  border-color: #292929;
  // border-color: $border-color;
  cursor: pointer;
  overflow: hidden;
  @extend %disable-highlight;
}

.action-component-text {
  margin-bottom: 8px;
}

.action-component.selected {
  background-color: $light-grey-one;
}

.action-component.exclude {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.action-component:focus {
  outline: none;
}

.action-component-trigger {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
  @extend %disable-highlight;
}
