.action-component {
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  height: 20px;
  background-color: $brand-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: $border-color;
  cursor: pointer;
  overflow: hidden;
  @extend %disable-highlight
}

.action-component-text{
  margin-bottom: 10px;
}

.action-component.selected {
  background-color: $light-grey-one;
}

.action-component.exclude {
  display: flex;
  justify-content: center;
}
