@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.empty-button {
  padding: 3px;
  outline: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  line-height: 1.5em;
  font: 300 14px 'Roboto', sans-serif;
  font-size: $button-text-size;
  width: 120px;
  background-color: transparent;
}
.empty-button:hover{
  color: black;
  background: linear-gradient(145deg, #ff6569, #e65558);;
  box-shadow: inset 5px 5px 10px #d95053, 
            inset -5px -5px 10px #ff6c71
}

.state-dropdown {
  width: 240px; 
  margin-left: 20px; 
}

.action-component:hover .time-button {
  display: none;
}

.action-component:hover .jump-button {
  opacity: 1;
  transform: rotateX(0deg);
  transition: opacity 300ms, transform 0.15s linear;
}

.time-button {
  outline: none;
  height: 20px;
  margin-bottom: 8px;
  width: 70px;
  border: none;
  border-radius: 3px;
  background: linear-gradient(145deg, #5c6068, #4d5157);
  font: normal 11px 'Roboto', sans-serif;
  color: #B0B0B0;
  
}

.jump-button {
  outline: none;
  height: 20px;
  margin-bottom: 8px;
  width: 70px;
  border: transparent;
  border-radius: 3px;
  background-color: #565A61;
  font: normal 11px 'Roboto', sans-serif;
  color: #B0B0B0;
  transform: rotateX(90deg);
  transition: opacity 300ms, transform 0.15s linear;
  opacity: 0;
}

.jump-button:hover {
  // remove the blue border when button is clicked
  color: black;
  background-color: $fiery-rose;

  cursor: pointer;
}

.empty-button:hover {
  color: white;
  background-color: $highlight-color;
}

.play-button {
  @extend %button-shared;
  font-weight: lighter;
  width: 100px;
  height: 25px;
  margin: 0 1% 0 2%;
  border-color: transparent;
  background: $blue-color-gradient;
}
.play-button:hover {
  box-shadow: $box-shadow-blue;
}

.backward-button {
  @extend %button-shared;
  width: 30px;
  margin: 7px;
  border-color: transparent;
  background: $blue-color-gradient;
}

.forward-button {
  @extend %button-shared;
  width: 30px;
  margin: 7px;
  border-color: transparent;
  background: $blue-color-gradient;
  box-shadow:  5px 5px 10px #1f1f23, 
  -5px -5px 10px #292b2f;
}

.forward-button:hover,
.backward-button:hover {
  box-shadow: $box-shadow-blue;
}

.import-button,
.export-button,
.lock-button,
.pause-button,
.persist-button {
  @extend %button-shared;
  border-color: transparent;
  background: $blue-color-gradient;
}
.import-button:hover,
.export-button:hover,
.lock-button:hover,
.pause-button:hover,
.persist-button:hover {
  @extend %button-shared;
  box-shadow: $box-shadow-blue;
}

%button-shared {
  padding: 5px;
  outline: none;
  background-color: $brand-color;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  line-height: 1.5em;
  font: 300 14px 'Roboto', sans-serif;
  font-size: $button-text-size;

  @extend %disable-highlight;
}
