.empty-button {
  @extend %button-shared;
  width: 120px;
}

.jump-button {
  @extend %button-shared;
  width: 50px;
  visibility: hidden;
}

.jump-button:hover {
  background-color: $highlight-color;
}

.empty-button:hover {
  background-color: $highlight-color;
}

.play-button {
  @extend %button-shared;
  width: 60px;
  margin: 10px;
}

.backward-button {
  @extend %button-shared;
  width: 30px;
  margin: 7px;
}

.forward-button {
  @extend %button-shared;
  width: 30px;
  margin: 7px;
}

.lock-button {
  @extend %button-shared;
}

.pause-button {
  @extend %button-shared;
}

%button-shared {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  font-size: $button-text-size;
  line-height: 1.5em;
}
