// .compMapLink {
//   // stroke: $map-link;
//   stroke: $secondary-color;
// }
// .compMapLink:hover {
//   box-shadow: 10px 10px rgb(163, 205, 24);
// };
* {
  border: 1px solid red;
}

.comp-map-options {
  color: $map-options-label;
}

//this was supposed to control the dropDownStyle object in LinkControls.tsx (the dropdown menus in ComponentMap)
// .comp-map-dropdown {
//   backgroundColor: #ff0008;
//   color: #ff0007;
//   background: #ff0006;
// }

// .compMapParent {
//   //fill: $map-parent-fill;
//   //stroke: $map-parent-stroke;
// }

//Jose testing onhover
.compMapParent:hover {
  stroke: color(red)
}

.compMapParentText {
  fill: $map-parent-text
}

.compMapChild {
  fill: $map-child-fill;
  stroke: $map-child-stroke;
}

.compMapChildText {
  fill: $map-child-text;
}

.compMapRoot {
  //fill: $map-root-fill;
  stroke: $map-root-stroke;
}

.compMapRootText {
  fill: $map-root-text;
}


.linkHoverInfo {
  height: 100px;
  width: 100px;
  background-color: #f1f1f1;
  z-index: 100;
}