#RenderContainer {
	display: flex;
	justify-content: center;
}

.MuiSwitch-colorPrimary.Mui-checked {
	color: #62d6fb !important;
}

.MuiSwitch-switchBase {
	color: #ff6569 !important;
}

.MuiSwitch-track {
	background-color: #e7e7e7 !important;
}

.MuiTypography-body1 {
	font-size: 1em !important;
}

#seriesname {
	background-color: white;
	float: right;
	width: 117px;
	margin-right: 160px;
	height: 24px;
}
