@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#RenderContainer {
  display: flex;
  justify-content: center;
}

.MuiSwitch-colorPrimary.Mui-checked {
  color: #62d6fb !important;
}

.MuiSwitch-switchBase {
  color: #ff6569 !important;
}

.MuiSwitch-track {
  background-color: #e7e7e7 !important;
}

.MuiTypography-body1 {
  font-size: 2em !important;
}

#routes-formcontrol {
  padding: 3px;
  margin-left: 50px;
  font: 400 14px 'Roboto', sans-serif;
  text-align: left;
  // min-width: 10em;
  // max-height: 50%;
}

#routes-dropdown {
  color: white !important;
  // background-color: #ff6569 !important;
  font: 400 14px 'Roboto', sans-serif;
  text-align: left;
}

#routes-select, #snapshot-select{
  color: white !important;
  background-color: #ff6569 !important;
  font: 400 14px 'Roboto', sans-serif;
  text-align: left;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
}


#seriesname {
  float: right;
  width: 220px;
  margin-right: 165px;
  height: 24px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
