.borderStyling {
	border-radius: 5px;
	border: 1px solid rgba(184, 196, 194, 0.25);
	box-shadow: 2px 3px 4px 2px rgba(0, 0, 0, 0.2);
	width: 53vw;
}

.borderCheck {
	border: 1px solid rgba(184, 196, 194, 0.25);
	box-shadow: 2px 3px 4px 2px rgba(0, 0, 0, 0.2);
	padding: 5px;
	width: 10vw;
	height: 25vw;
	overflow-y: scroll;
	overflow-wrap: break-word;
}

.DataComponent {
	padding-left: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 50vw;
	height: 40vw;
	overflow-y: scroll;
	overflow-wrap: break-word;
}


.StyledGridElement {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #242529;
	padding: 20px;
	height: 5vh;
	margin: 20px 10px;
	font-family: 'Roboto', sans-serif;

	h3 {
		color: $text-color;
		margin-bottom: 5px;
		margin-top: 5px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
	}

	h4 {
		color: $text-color;
		margin-bottom: 5px;
		margin-top: 5px;
		font-weight: 300;
	}

	p {
		color: $brand-color;
		line-height: 20px;
		text-align: center;
		font-size: 18px;
		line-height: 18px;
	}
}

.ExpandStyledGridElement {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: #242529;
	padding: 20px;
	margin: 20px 10px;
	font-family: 'Roboto', sans-serif;

	h3 {
		color: $text-color;
		margin-bottom: 5px;
		margin-top: 5px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
	}

	h4 {
		color: $text-color;
		margin-bottom: 5px;
		margin-top: 5px;
		font-weight: 300;
	}

	p {
		color: white;
		line-height: 20px;
		text-align: center;
		font-size: 18px;
		line-height: 18px;
	}
}

.RenderRight {
	padding-right: 5px;
	border-right: 5px;
	background: $blue-color-gradient;
	width: 50px;
	padding: 0 0.5em;
	right: 10%;
}