@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
	background-color: black;
}

.node {
	cursor: pointer;
	fill-opacity: 0.8;
}

/*   this represents leaf nodes aka nodes with no children */
.node text {
	fill: #fae6e4;
	background-color: red;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
}

/*   modifies text of parent nodes (has children) */
.node--internal text {
	fill: white;
	font-size: 10px;
}
.link {
	fill: none;
	stroke: #fae6e4;
	stroke-opacity: 0.4;
	stroke-width: 3px;
}

div.tooltip {
	position: absolute;
	/* text-align: center; */
	/* display: inline; */
	max-width: 150px;
	/* overflow-wrap: break-word; */
	padding: 0.5rem 1rem;
	/* padding: 6px; */
	color: white;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	background: #51565e;
	border-radius: 5px;
	/* pointer-events: none; */
}

.d3-tip {
	line-height: 1;
	padding: 6px;
	background: #679dca;
	color: #2b2f39;
	border-radius: 4px;
	font-size: 13px;
	max-width: 400px;
	overflow-wrap: break-word;
	font-family: 'Overpass Mono', monospace;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 15px;
	line-height: 1;
	color: #679dca;
	content: '\25BC';
	position: absolute;
	text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
	margin: -2px 0 0 0;
	top: 100%;
	left: 0;
}

.history-d3-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 70px);
}

.perf-d3-container {
	height: calc(100% - 70px);
}

.perf-d3-svg {
	display: block;
}

.perf-chart-labels {
	font: 1.3em sans-serif;
	fill: #2a2f3a;
	pointer-events: none;
	text-anchor: middle;
}
