.jsondiffpatch-delta {
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.jsondiffpatch-delta pre {
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
ul.jsondiffpatch-delta {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.jsondiffpatch-delta ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.jsondiffpatch-added .jsondiffpatch-property-name,
.jsondiffpatch-added .jsondiffpatch-value pre,
.jsondiffpatch-modified .jsondiffpatch-right-value pre,
.jsondiffpatch-textdiff-added {
  color: #14b8a6;
}
.jsondiffpatch-deleted .jsondiffpatch-property-name,
.jsondiffpatch-deleted pre,
.jsondiffpatch-modified .jsondiffpatch-left-value pre,
.jsondiffpatch-textdiff-deleted {
  text-decoration: line-through;
  color: #dc2626;
}

.jsondiffpatch-value {
  display: inline-block;
}
.jsondiffpatch-property-name {
  display: inline-block;
  padding-right: 4px;
}

.jsondiffpatch-property-name:after {
  content: ': ';
}

li:last-child > .jsondiffpatch-value pre:after,
.jsondiffpatch-modified > .jsondiffpatch-left-value pre:after {
  content: '';
}

.jsondiffpatch-modified .jsondiffpatch-value {
  display: inline-block;
}

.jsondiffpatch-modified .jsondiffpatch-right-value {
  margin-left: 6px;
}

.jsondiffpatch-moved .jsondiffpatch-moved-destination {
  display: inline-block;
  color: #ffffbb;
}

.jsondiffpatch-moved .jsondiffpatch-moved-destination:before {
  content: ' => ';
}

.jsondiffpatch-textdiff-location {
  color: #ffffbb;
  display: inline-block;
  min-width: 60px;
}

.jsondiffpatch-textdiff-line {
  display: inline-block;
}

.jsondiffpatch-textdiff-line-number:after {
  content: ',';
}
