node_modules
node_modules/
/node_modules
./node_modules
.DS_Store
src/extension/build/bundles
package/reactime-*.tgz
parents
coverage
src/extension/build.zip
src/extension/build.crx
src/extension/build.pem
bower_components
sandboxes/manual-tests/NextJS/.next
.vscode
package-lock.json
yarn.lock
docs/**/*