language: node
services:
  - docker
script:
  - npm run docker-check
deploy:
  provider: script
  skip_cleanup: true
  on:
    branches:
      only:
        - dev
        - master
addons:
  apt:
    packages:
      - docker-ce
