/// fontFamily: 'monaco, Consolas, Lucida Console, monospace'
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/// @type List
$text-font-stack: 'Outfit', sans-serif !default;

/// @type Color
/// LIGHT MODE (LM) THEME COLORS
$primary-color: #284b63;
$primary-color-weak: #81929e;
$primary-color-strong: #3c6e71;

//gradient used for some buttons
$primary-strong-gradient: linear-gradient(
  145deg,
  lighten($primary-color-strong, 20%),
  $primary-color-strong
);

/// GRAYSCALE THEME COLORS
$background-color: #f0f0f0;
$background-color-strong: #ffffff;
$background-color-weak: #d9d9d9;
$contrasting-color: #161617;
$contrasting-color-weak: #353536;

/////////////////////////////////////////////////////////////////////
// ALL OF THE FOLLOWING COLORS SHOULD REFERENCE A COLOR FROM ABOVE //
/////////////////////////////////////////////////////////////////////

/// @type Color

//general text color theme
$dark-text: $contrasting-color;
$light-text: $background-color;
//general icon color theme
$icon-primary: $primary-color-strong;
$icon-secondary: lighten($primary-color-strong, 50%);
$icon-bg: $primary-color-weak;

//colors for pop-up window that opens when clicking the reconnect button
$pop-up-window-background: $background-color;
$pop-up-window-text: $dark-text;
$reconnect-button: $primary-color-strong;
$reconnect-button-text: $light-text;

/// @type Font Size
$button-text-size: 16px;
