/// fontFamily: 'monaco, Consolas, Lucida Console, monospace'
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
/// @type List
$text-font-stack: 'Outfit', sans-serif !default;

/// @type Color
/// fiery-rose changed from ff6569 to F00008 globally to improve contrast
$fiery-rose: #c1121f;
$blue-brand: #62d6fb;

/// @type Color
$blue-color-gradient: linear-gradient(145deg, #69e5ff, #58c1e2);
$red-color-gradient: linear-gradient(145deg, #f92f35, #f00008);
$grey-color-gradient: linear-gradient(145deg, #5c6068, #4d5157);

/// @type Color:
$box-shadow-blue: inset 5px 5px 10px #53b6d5, inset -5px -5px 10px #71f6ff;
$box-shadow-red: inset 5px 5px 10px #ff0004, inset -5px -5px 10px #f9393f;

// /// @type Color
// $text-color: #e7e7e7;
/// @type Color
$text-color: #212020;

// /// @type Color
// $brand-color: #29292e !default; //29292e
// $brand-color-highlight: #303036 !default;
/// @type Color
$brand-color: #dfdfe9 !default; //29292e
$brand-color-highlight: rgb(173, 173, 182) !default;

// /// @type Color
// $background-color: #333333 !default;
// $dark-background-color: #191818 !default; // #191818
// $medium-background-color: #51565e !default; //51565e
// $light-background-color: #585d65 !default; //585d65
/// @type Color
$background-color: #0d0dea !default;
$dark-background-color: #e7e7f0 !default; // #191818
$medium-background-color: #d7d7e0 !default; //51565e
$light-background-color: #c6c6cf !default; //585d65

// /// @type Color
// $link-color: #fdf0d5 !default;
// $child-fill: #a0c1d6;
// $child-stroke: #003049;
// $child-text: #1f2021;
// $parent-fill: #780000;
// $parent-stroke: #c1121f;
// $parent-text: #fdf0d5;
// $root-fill: #fdf0d5;
// $root-stroke: #1f2021;
// $root-text: #fdf0d5;
/// @type Color
$link-color: #161719 !default;
$child-fill: #a0c1d6;
$child-stroke: #003049;
$child-text: #1f2021;
$parent-fill: #780000;
$parent-stroke: #c1121f;
$parent-text: #fdf0d5;
$root-fill: #fdf0d5;
$root-stroke: #1f2021;
$root-text: #fdf0d5;

//HOW TO DEFINE GRADIENTS

// // Define your colors
// $color-start: #ff4500; // Starting color
// $color-end: #4169e1;   // Ending color

// // Create a gradient mixin
// @mixin gradient-background($start-color, $end-color) {
//   background: linear-gradient(to right, $start-color, $end-color);
// }

// // Use the mixin with your colors
// .gradient-container {
//   @include gradient-background($color-start, $color-end);
//   // Additional styles for the container
//   width: 100%;
//   height: 200px;
//   // Add any other styles you need
// }

/// Light grey
/// @type Color
$light-grey-one: #474c55 !default;

/// @type Color
$light-grey-two: #5f6369 !default;
$light-grey-three: #65686e !default;
$light-grey-four: #4c4c4d !default;

/// @type Color
$navbar-color: #44484e !default;

/// @type Color
$head-color: #242529 !default;

/// @type Color
$border-color: #292929 !default;

/// @type Color
$border-slider: #57c5f7 !default;

/// @type Color
$border-rc: #373737 !default;
$background-rc-color: #e9e9e9 !default;

/// @type Color
$highlight-color: rgba(224, 224, 224, 0.5) !default;

/// @type Font Size
$button-text-size: 16px;


//https://coolors.co/780000-c1121f-f6d5bf-fdf0d5-003049-669bbc-a0c1d6
/// @type Color
$color1: #780000;
$color2: #c1121f;
$color3: #fdf0d5;
$color4: #003049;
$color5: #669bbc;
$color6: #a0c1d6;
