/// fontFamily: 'monaco, Consolas, Lucida Console, monospace'
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/// @type List
$text-font-stack: 'Outfit', sans-serif !default;

/// @type Color
/// LIGHT MODE (LM) THEME COLORS
$primary-color: #284b63;
$primary-color-weak: #81929e;
$primary-color-strong: #3c6e71;
$secondary-color: #df6f37;

//gradient used for some buttons
$primary-strong-gradient: linear-gradient(
  145deg,
  lighten($primary-color-strong, 20%),
  $primary-color-strong
);

/// GRAYSCALE THEME COLORS
$background-color: #f0f0f0;
$background-color-strong: #ffffff;
$background-color-weak: #d9d9d9;
$contrasting-color: #161617;
$contrasting-color-weak: #353536;

/// HEATMAP COLORS
$heat-level-1: #f1b476;
$heat-level-2: #e4765b;
$heat-level-3: #c64442;
$heat-level-4: #8c2743;

/////////////////////////////////////////////////////////////////////
// ALL OF THE FOLLOWING COLORS SHOULD REFERENCE A COLOR FROM ABOVE //
/////////////////////////////////////////////////////////////////////

/// @type Color

//general text color theme
$dark-text: $contrasting-color;
$light-text: $background-color;
//general icon color theme
$icon-primary: $primary-color-strong;
$icon-secondary: lighten($primary-color-strong, 50%);
$icon-bg: $primary-color-weak;

//the first window that pops up that checks for react devtools being installed
$loader-background: $background-color;
$loader-text: $dark-text;
$loader-checks-border: $primary-color-strong;
$launch-button: $primary-color-strong;
$launch-button-hover: $primary-color;
$launch-button-text: $light-text;

//Collapse and Toggle Record labels in the top left of the screen
$collapse-text: $dark-text;
$toggle-record-text: $dark-text;

//ACTION TAB COLORS (the main column on the left side)

//drop-down menu for selecting which tab Reactime is observing
$tab-select-background: $background-color-weak;
$tab-select-text: $dark-text;
$tab-dropdown-background: $background-color-weak;
$tab-dropdown-hover: darken($background-color-weak, 10%);
$tab-vertical-line: lighten($contrasting-color, 30%);
$tab-arrow-indicator: lighten($contrasting-color, 30%);

//SNAPSHOTS AND ROUTES LIST
$action-tab-background: $background-color;
$action-cont-border: $contrasting-color;
// $action-clear-button: $primary-color;
// $action-clear-button-text: $background-color;
$route-bar: $primary-color-strong;
$route-bar-text: $light-text;
$indiv-action-input-bg: $background-color-strong;
$indiv-action-selected: darken($background-color, 15%);
$indiv-action-selected-text: $light-text;
$indiv-action-filler-text: lighten($contrasting-color, 60%);
$indiv-action-custom-text: $dark-text;
$indiv-action-border: $contrasting-color-weak;
$indiv-action-time: $primary-color-weak;
$indiv-action-time-text: $light-text;
$time-button-height: 20px;
$current: $contrasting-color-weak;
$current-text: $light-text;
$jump: $contrasting-color-weak;
$jump-hover: $primary-color;
$jump-text: $light-text;

//the State + Diff toggle // THIS FEATURE IS CURRENTLY COMMENTED OUT
$header-background: $background-color;
$header-button-active: $primary-color;
$header-button-active-text: $light-text;
$header-button-inactive: $primary-color-weak;
$header-button-inactive-text: $dark-text;
$header-button-hover: lighten($header-button-inactive, 20%);

//the buttons/tabs controlling what is displayed in STATECONTAINER (Map, Performance, History, Web Metrics, Tree)
$navbar-background: $background-color; //this color only shows up in Diff mode when buttons don't fill the whole bar //DIFF FEATURE IS CURRENTLY COMMENTED OUT
$navbar-selected: $primary-color-strong;
$navbar-selected-text: $light-text;
$navbar-unselected: $primary-color-weak;
$navbar-unselected-text: $dark-text;
$navbar-hover: darken($navbar-unselected, 15%);

$state-background: $background-color-strong;
$state-cont-border: $contrasting-color;

//MAP TAB
$map-options-label: $dark-text;
//the dropdown colors are determined in the dropDownStyle object in LinkControls.tsx
$map-link: $contrasting-color;
// $map-root-fill: $primary-color; //root fill is currently a visx LinearGradient defined in ComponentMap.tsx
$map-root-stroke: $primary-color;
$map-root-text: $light-text;
//$map-parent-fill: $primary-color-strong; //parent fill is currently a visx LinearGradient defined in ComponentMap.tsx
$map-parent-stroke: darken($primary-color-strong, 20%);
$map-parent-text: $light-text;
$map-child-fill: $primary-color-weak;
$map-child-stroke: lighten($primary-color, 50%);
$map-child-text: $dark-text;

//PERFORMANCE TAB
$performance-subtab-border: 1px;
$performance-subtab-text: $contrasting-color;
$performance-subtab-hover: $background-color-weak;
$performance-options-dropdown: $primary-color-strong;
$performance-options-label: $dark-text;
$performance-save-series-button: $primary-color;
$performance-save-series-button-text: $light-text;
$perf-background: $background-color-strong;
//axis tick colors and labels determined in BarGraph.tsx on line 29 and BarGraphComparison.tsx on line 39
//on comparison view, button colors are in BarGraphComparison.tsx on line 220, 240

//HISTORY TAB
$history-node: $primary-color; //this is currently set in History.tsx line 291
$history-link: $contrasting-color; // this is currently set in d3graph.css line 26
//$history-text: $light-text;

//WEB METRICS TAB
//web metrics colors are selected in WebMetrics.tsx (text color line 69)
$web-circles: $contrasting-color;
$web-text: $dark-text;

$tree-background: $background-color;

//CONTORL BAR for time travel
$travel-background: $background-color;
$travel-top-border: lighten($contrasting-color, 50%);
$play-button: $primary-strong-gradient;
$play-button-text: $light-text;
$slider-handle: $primary-strong-gradient;
$slider-rail-left: $primary-color;
$slider-rail-right: $background-color-weak;
$scrub-button: $primary-strong-gradient;
$scrub-icon: $light-text;
$speed-dropdown: $primary-color-strong;
$speed-dropdown-text: $light-text;
$speed-dropdown-expanded: lighten($primary-color-strong, 20%);
$speed-dropdown-expanded-hover: $primary-color;
$speed-dropdown-expanded-text: $light-text;

//the buttons at the very bottom of the screen (locked, download, upload, tutorial, reconnect)
$function-bar-background: $background-color;
//outline color currently handled in mui theme.ts file
$function-bar-button-outlines: $primary-color;
$function-bar-text: $primary-color-strong;
$function-bar-text-hover: $primary-color;
$function-bar-text-highlight: $primary-color-strong;
$function-bar-icons: $primary-color-strong;

//colors for pop-up window that opens when clicking the reconnect button
$pop-up-window-background: $background-color;
$pop-up-window-text: $dark-text;
$reconnect-button: $primary-color-strong;
$reconnect-button-text: $light-text;

/// @type Font Size
$button-text-size: 16px;
