/// fontFamily: 'monaco, Consolas, Lucida Console, monospace'
/// @type List
$text-font-stack: Monaco, Consolas, 'Lucida Console', monospace, Arial,
  sans-serif !default;

/// @type Color
$text-color: rgb(231, 231, 231);

/// @type Color
$brand-color: #242529 !default;

/// Light grey
/// @type Color
$light-grey-one: #474c55 !default;

/// @type Color
$light-grey-two: #5f6369 !default;

$light-grey-three: rgb(101, 104, 110) !default;

/// @type Color
$navbar-color: rgb(68, 72, 78) !default;

/// @type Color
$head-color: #242529 !default;

/// @type Color
$border-color: rgba(190, 190, 190, 0.5) !default;

/// @type Color
$highlight-color: rgba(224, 224, 224, 0.5) !default;

/// @type Font Size
$button-text-size: 10px;
