/// fontFamily: 'monaco, Consolas, Lucida Console, monospace'
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/// @type List
$text-font-stack: 'Roboto', sans-serif !default;

/// @type Color
$fiery-rose: #ff6569;
$blue-brand: #62d6fb;

/// @type Color
$blue-color-gradient: linear-gradient(145deg, #69e5ff, #58c1e2);
$red-color-gradient: linear-gradient(145deg, #ff6569, #e65558);
$grey-color-gradient: linear-gradient(145deg, #5c6068, #4d5157);

/// @type Color:
$box-shadow-blue: inset 5px 5px 10px #53b6d5, inset -5px -5px 10px #71f6ff;
$box-shadow-red: inset 5px 5px 10px #d95053, inset -5px -5px 10px #ff6c71;

/// @type Color
$text-color: #e7e7e7;

/// @type Color
$brand-color: #242529 !default;

/// @type Color
$background-color: #333333 !default;
$medium-background-color: #51565e !default;
$light-background-color: #585d65 !default;

/// Light grey
/// @type Color
$light-grey-one: #474c55 !default;

/// @type Color
$light-grey-two: #5f6369 !default;

$light-grey-three: #65686e !default;

$light-grey-four: #4c4c4d !default;

/// @type Color
$navbar-color: #44484e !default;

/// @type Color
$head-color: #242529 !default;

/// @type Color
$border-color: #292929 !default;

/// @type Color
$border-slider: #57c5f7 !default;

/// @type Color
$border-rc: #373737 !default;
$background-rc-color: #e9e9e9 !default;

/// @type Color
$highlight-color: rgba(224, 224, 224, 0.5) !default;

/// @type Font Size
$button-text-size: 12px;
