.action-container {
  background: var(--bg-primary);
  border-right: 1px solid #e5e7eb;
  transition: width 0.3s ease;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;

  .action-button-wrapper {
    opacity: 1;
    visibility: visible;
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease;
  }
}

.clear-button-container {
  padding: 16px;
}

.dropdown-container {
  padding: 4px 16px;
}
