.action-container {
  // overflow: auto;
  // background-color: $brand-color;
  overflow-x: hidden;
  background-color: #282828;
}

.actionname {
  background-color: inherit;
  color: #ffffff;
}

#recordBtn {
  height: 100%;
  display: flex;
}

.actionToolContainer {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  //JR
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#recordBtn .fa-regular {
  height: 100%;
  width: 28px;
}

.route {
  background-color: #da262c;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
