.body-container1 {
  height: 94%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 8fr 1fr;
  grid-template-areas:
    'actions states'
    'actions travel'
    'actions buttons';
}

.body-container2 {
  height: 94%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 8fr 1fr;
  grid-template-areas:
    'actions states'
    'travel travel'
    'buttons buttons';
}

/* if extension width is less than 500px, stack the body containers */
@media (max-width: 500px) {
  .body-container {
    grid-template-rows: 3fr 5fr 1fr;
    grid-template-columns: auto;
    grid-template-areas:
      'actions'
      'states'
      'travel'
      'buttons';
  }
}
