@import url('https://fonts.googleapis.com/css2?family=Outfit:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: 'Outfit', sans-serif;
}
.buttons-container {
  margin: 0 1% 0 1%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1%;
  padding: 1% 0 1% 0;
}

.introjs-tooltip {
  color: black;
  background-color: white;
  min-width: 20rem;
}
.introjs-tooltiptext ul {
  padding-left: 2px;
}

// .introjs-helperLayer{
//   // border: 2px solid yellow
// }

.tools-container {
  display: flex;
  justify-content: space-between;
  border: 0.5px solid grey;
  background-color: #35383e;
  padding: 3px;
  margin-bottom: 1rem;
}

#seriesname {
  background-color: #333;
  color: white;
}

@media (max-width: 500px) {
  .buttons-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.introjs-nextbutton {
  background-color: none;
  color: #3256f1;
  border: 1px solid;
  outline: none;
}

.introjs-prevbutton {
  background-color: none;
  color: #3256f1;
  border: 1px solid;
  outline: none;
}

.introjs-skipbutton {
  color: #d72828;
  border: 1px solid;
  margin-top: 2px;
  font-size: 16px;
  outline: none;
}

.introjs-button {
  background: none;
  outline: none;
}
