@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  font-family: 'Outfit', sans-serif;
}
.error-container {
  height: 100%;
  margin: 0 auto;
  background-color: $loader-background;
  color: $loader-text;
  overflow: hidden;
  font: 'Outfit', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    color: rgb(91, 54, 54);
    margin-top: 1%;
    height: 3%;
  }
  img {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1.5%;
  }
  p {
    padding: 0;
    text-align: center;
    margin: 2% 0;
  }
  .loaderChecks {
    padding: 1%;
    border: 1px solid;
    border-style: solid;
    border-color: loader-checks-border;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.5%;
    grid-row-gap: 0.5%;
    justify-content: center;
    align-items: center;
  }
  .loaderChecks span {
    margin: 0 auto;
    display: inline;
  }
  h2 {
    padding-left: 2%;
    padding-right: 2%;
  }
  .check,
  .fail {
    font-size: 3em;
    color: green;
    margin: 0;
    align-self: center;
    justify-self: center;
  }
  .fail {
    color: red;
  }
  .errorMsg {
    text-align: center;
    font-weight: bold;
  }

  .launchContentButton {
    background: $launch-button;
    color: $launch-button-text;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(36, 37, 41);
  }

  .launchContentButton:hover {
    background: $launch-button-hover;
  }

  .launchContentButton:active {
    box-shadow: 1px 1px 10px black;
  }
}
