@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
	font-family: 'Roboto', sans-serif;
}
.error-container {
	height: 100%;
	margin: 0 auto;
	background-color: $brand-color;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	a {
		color: white;
		margin-top: 1%;
		height: 3%;
	}
	img {
		text-align: center;
		padding-top: 5%;
		padding-bottom: 1.5%;
	}
	p {
		text-align: center;
	}
	.loaderChecks{
		padding: 1%;
		border: 1px solid;
		border-style: solid;
		border-color: white;
	}
}
