.main-container {
  height: 100%;
  margin: 0 auto;
  background-color: $function-bar-background;
  overflow: hidden;
}

.state-container-container {
  display: contents;
  width: 100%;
  height: 100%;
  overflow: auto;
}
