.state-container {
  font-size: 12px;
  overflow: auto;
  background-color: $brand-color;
}

.state-container .navbar {
  background-color: $navbar-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
}

.navbar {
  // prevent navbar from scrolling with state/tree display
  position: sticky;
  top: 0px;
  z-index: 1;
}

.state-container {
  .router-link {
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $navbar-color;
    text-decoration: none;
    color: $text-color;
  }
  .router-link:hover {
    background-color: $light-grey-three;
  }

  .router-link.is-active {
    background-color: $brand-color;
  }
}
