.state-container {
  font-size: 10px;
  overflow: auto;
  background-color: $state-background;
  // margin-left: 5px;
}

.toggleAC {
  // color: #00dffc;
  //color: $blue-brand;
  background: #ff0001;
  height: 50%;
  text-decoration: none;
  border: none;
}

.toggleAC:focus {
  outline: none;
  box-shadow: none;
}

.state-container .navbar {
  //background-color: $state-background;
  //color: #ff0000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  position: static;
}

.state-container .main-navbar {
  background-color: $state-background;
  color: #ff0000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
  margin: 6px;
}

.state-container .componentMapContainer {
  height: 95% !important;
  fill: $state-background;
}

.state-container .main-navbar-container {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: $state-background;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.navbar {
  color: #ff0000;
  // prevent navbar from scrolling with state/tree display
  position: sticky;
  top: 40px; //JR 12.16.23 @12:15pm: this hardcoding is not best practice, should revisit to figure out a more dynamic way of sticking the navbar to the bottom of the main-navbar
  left: 0px;
  z-index: 1;
  @extend %disable-highlight;
}

.no-data-message {
  color: #ff0001;
  font: normal 13px $text-font-stack;
  padding: 10px;
}

.state-container {
  .main-navbar-text {
    margin: 6px;
  }

  .main-router-link {
    font-size: 14px;
    height: 75%;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $header-button-inactive-text;

    background: $header-button-inactive;
    border-radius: 5px;
    border: 1px solid rgba(184, 196, 194, 0.25);
  }

  .main-router-link:hover {
    background: $header-button-hover;
  }

  .main-router-link.is-active {
    background: $header-button-active;
    color: $header-button-active-text;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid rgb(36, 37, 41);
  }

  .router-link {
    height: 100%;
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $navbar-unselected;
    text-decoration: none;
    color: $navbar-unselected-text;
  }

  .router-link:hover {
    background-color: $navbar-hover;
  }

  .router-link.is-active {
    background-color: $navbar-selected;
    color: $navbar-selected-text;
  }

  .navbar {
    background-color: $navbar-background;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    position: sticky;
    top: 0px; //JR 12.16.23 @12:15pm: this hardcoding is not best practice, should revisit to figure out a more dynamic way of sticking the navbar to the bottom of the main-navbar
    left: 0px;
    z-index: 1;
    @extend %disable-highlight;
  }

  .main-navbar {
    background-color: $header-background;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
    margin: 6px;
  }

  .main-navbar-container {
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: $header-background;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
}

.no-data-message {
  color: #ff0001;
  font: normal 13px $text-font-stack;
  padding: 10px;
}

.performance-nav-bar-container {
  background-color: #ff0002;
  display: flex;
  border: $performance-subtab-border;
  height: 30px;
}

.router-link-performance {
  height: 100%;
  width: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $state-background;
  text-decoration: none;
  color: $performance-subtab-text;
}

.router-link-performance:hover {
  background-color: $performance-subtab-hover;
}

.router-link-performance.is-active {
  font-weight: 600;
}

// Web Metrics Container
.web-metrics-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

//container for metrics
.metric {
  min-height: 200px;
  min-width: 200px;
}

.bargraph {
  position: relative;
  margin-top: 1rem;
}

.bar-graph-axis {
  stroke: cornflowerblue;
}

#hover-box {
  max-width: 230px;
  background-color: #51565e;
  border-radius: 5px;
  color: white;
}

.bargraph-position {
  position: relative;
}

// tool tip styles

.visx-tooltip {
  overflow-y: auto;
  overflow-wrap: break-word;
  pointer-events: all !important;
}

.tooltipKey {
  margin-bottom: -1px;
}

.historyToolTip {
  z-index: 2;
}

.state-container .router-link {
  border: 0.5px solid black;
}

.tooltipData {
  background-color: #373737;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 2px;
  max-height: 30vh;
}

.tooltipData-JSONTree {
  list-style: none;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px;
  overflow-y: auto;
  max-height: 30vh;
  scrollbar-color: #919499 #51565e;
}

.tooltipData-JSONTree::-webkit-scrollbar-thumb {
  background: #919499;
}

.tooltipData-JSONTree::-webkit-scrollbar-track {
  background: #51565e;
}

.app-body {
  height: 100%;
}

.app-content {
  height: 100%;
}
