.state-container {
  
  font-size: 12px;
  overflow: hidden;
  background-color: $brand-color;
  .main-navbar-text {
    margin: 6px;
  }

  .main-router-link {
    height: 80%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $navbar-color;
    text-decoration: none;
    color: $text-color;
  }

  .main-router-link:hover {
    background-color: $light-grey-three;
  }

  .main-router-link.is-active {
    background-color: $brand-color;
  }

  .router-link {
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $navbar-color;
    text-decoration: none;
    color: $text-color;
  }

  .router-link:hover {
    background-color: $light-grey-three;
  }

  .router-link.is-active {
    background-color: $brand-color;
  }
  .navbar {
    background-color: $navbar-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
  }

  .main-navbar{

    background-color: #565A61;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    margin: 6px;
  }

  .main-navbar-container{
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #565A61;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
}

.navbar {
  // prevent navbar from scrolling with state/tree display
  top: 0px;
  left: 0px;
  z-index: 1;
  @extend %disable-highlight
}

.no-data-message {
  color: $text-color;
  font: normal 13px $text-font-stack;
  padding: 10px;
}
