.travel-container {
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #e5e7eb;
  padding-left: 16px;
  gap: 12px;
}

.react-select-container {
  font-size: 16px;
  min-width: 90px;
  margin: 8px;
}

.react-select__control {
  background-color: #f3f4f6 !important;
  border: none !important;
  border-radius: 6px !important;
  box-shadow: none !important;
}

.react-select__single-value {
  color: #374151 !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
}
