.travel-container {
  background: linear-gradient(90deg, rgba(41,41,41,1) 0%, rgba(51,51,51,1) 50%, rgba(41,41,41,1) 100%);
  border-color: rgba(41,41,41,1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.react-select-container {
  font-size: 12px;
  min-width: 90px;
  margin: 8px;
}


.react-select-container {
  .react-select__control {
    background-color: #4c4c4d;
    border-color: transparent;
    @extend %disable-highlight;
  }
  .react-select__menu {
    background-color: #4c4c4d;
    @extend %disable-highlight;
  }
  .react-select__single-value {
    color: white;
  }
  .react-select__option:hover {
    // background-color: #ff6569;
    background-color: $fiery-rose;
  }
  .react-select__option--is-selected,
  .react-select__option--is-focused {
    background-color: transparent;
  }

  // removes the cursor from blinking
  .css-w8afj7-Input {
    color: transparent;
  }
}
