.main-container {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(238, 238, 238);
}

.head-container {
  height: 10%;
}

.body-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.action-container {
  flex: 3 auto;
}

.state-container {
  flex: 7 auto;
}

/* if extension width is less than 500px, stack the body containers */
@media (max-width: 500px) {
  .body-container {
    flex-direction: column;
  }
  .state-container {
    flex: 3 auto;
  }
}

.travel-container {
  height: 10%;
}

.head-container,
.body-container,
.action-container,
.state-container,
.travel-container {
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.action-component {
  height: 40px;
  width: 100%;
  background-color: rgb(170, 170, 170);
  border-style: solid;
  border-width: thin;
}
