html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.travel-container {
  grid-area: travel;
}
.action-container {
  grid-area: actions;
}
.state-container {
  grid-area: states;
}
.buttons-container {
  grid-area: buttons;
  background: linear-gradient(90deg, rgba(41,41,41,1) 0%, rgba(51,51,51,1) 50%, rgba(41,41,41,1) 100%);
  border-color: rgba(41,41,41,1);
}

.action-container,
.state-container,
.travel-container {
  border-style: solid;
  border-color: $border-color;
  border-width: 1px;
}
