html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.travel-container {
  grid-area: travel;
}
.action-container {
  grid-area: actions;
  transition: 0.5s;
}
.state-container-container {
  grid-area: states;
}
.split {
  grid-area: states;
}
.buttons-container {
  grid-area: buttons;
  border-color: rgba(41, 41, 41, 1);
}

.action-container,
.state-container,
.travel-container {
  border-style: solid;
  border-color: $border-color;
  border-width: 1px;
}
